//- Пакетная обработка всех файлов из папки Work\Assets\Input в Photoshop
//- В панели с actions отметить check нужные параметры сохранения (размер, формат и тп)
//- Hot key PS 'F2' 'batch...' Выбрать входную папку Assets\Input напр.
//- Выбрать исходящую папку напр. Work\Assets\Output\img\webp\320p
//- Прописать нужную маску имени файла, напр. airpods-01-320p . Всё.

mixin picture(data, mods)

  //- Принимает:
  //-   data    {object} - данные
  //-     -img  {string} = img name
  //-     -alt  {string} = img alt
  //-     -lg   {boolean} = lg breakpoint
  //-     -ext  {string} = img extension (.png .jpg)
  //-   mods    {string} - extra class for <img>
  //- Вызов:
    +picture({
      'img': 'block_name-01',
      'alt': 'Block_name',
      'lg': false,
      'ext': 'png'
    }, 'block_name__img')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + '' + modsList[i].trim();
      }
    }
    data = data || {}
    data.img = data.img || 'test'
    data.alt = typeof(data.alt) == 'undefined' ? 'image' : data.alt
    data.lg = typeof(data.lg) == 'undefined' ? true : data.lg
    data.ext = typeof(data.ext) == 'undefined' ? 'jpg' : data.ext

  picture.picture&attributes(attributes)

    if (typeof(data.lg) !== 'undefined' && data.lg)
      source(media=`(min-width: ${screenLg})`, type='image/webp', srcset=`img/${data.img}-1280p.webp, img/${data.img}-2560p.webp 2x`)
      source(media=`(min-width: ${screenLg})`, type=`image/${data.ext}`, srcset=`img/${data.img}-1280p.${data.ext}, img/${data.img}-2560p.${data.ext} 2x`)
    if (typeof(data.ext) !== 'undefined')
      source(media=`(min-width: ${screenSm})`, type='image/webp', srcset=`img/${data.img}-640p.webp, img/${data.img}-1280p.webp 2x`)
      img(class=allMods, alt=`${data.alt}`, width='640', src=`img/${data.img}-640p.${data.ext}`, srcset=`img/${data.img}-1280p.${data.ext} 2x`)
